.promo {
  background: #5C5C5C url(../../images/promo_logo.svg) no-repeat 50%;
  min-height: 524px;
  position: relative;
  display: flex;
}

.promo__title {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  color: #fff;
  margin: 0;
  max-width: 730px;
  margin: auto;
}
