.search-form {
  background-color: #fff;
}

.search-form__container {
  margin: 73px auto 10px;
  max-width: 1140px;
  padding-bottom: 70px;
  border-bottom: 1px solid #E8E8E8;
  
}

.search-form__area {
  min-height: 46px;
  background-color: #F9F9F9;
  border-radius: 40px;
  display: flex;
  position: relative;
  margin: 0 0 42px 0;
  z-index: 2;
}

.search-form__input {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  border: none;
  padding: 0;
  background-color: #F9F9F9;
  margin: 0 22px 0;
  outline: none;
  width: 100%;
}

.search-form__label {
  color: #A0A0A0;
  align-self: center;
}

.search-form__button {
  background-image: url(../../images/search_button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 34px;
  height: 34px;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.2s;
  position: absolute;
  top: 6px;
  right: 6px;
}

.search-form__button:hover {
  opacity: 60%;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .search-form__container {
    margin: 93px auto 10px;
    max-width: 708px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .search-form__container {
    max-width: 292px;
    margin: 94px auto 10px;
    padding-bottom: 50px;
  }

  .search-form__input {
    font-weight: 400;
    font-size: 11px;
    margin: 0 18px 0;
  }
}