.about-project {
  background-color: #fff;
}

.about-project__container {
  margin: 108px auto;
  max-width: 1140px;
}

.about-project__main {
  margin: 70px 0 110px 0;
  padding: 0;
  display: flex;
  max-width: 1140px;
  justify-content: space-between;
}

.about-project__main-element {
  list-style-type: none;
  margin: 0;
}

.about-project__title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #000;
  margin: 0 0 26px 0;
  max-width: 550px;
}

.about-project__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #000;
  margin: 0;
  max-width: 550px;
}

.about-project__timeline {
  display: grid;
  grid-template-columns: 100px, 200px;
}